{% extends 'base.html.twig' %}

{% block body %}
  <h1>Bienvenue Dans ce blog</h1>
  {# {% if age > 18 %}
    <p>Tu es majeur</p>
  {% else %}
    <p>Tu es mineur</p>
  {% endif %} #}

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, cupiditate animi. Ducimus, molestiae suscipit distinctio, optio maiores odio voluptas amet repellat sint perspiciatis ex dicta. Facilis minima fuga quam nesciunt.</p>
{% endblock %}
