{% extends 'base.html.twig' %}
{% block body %}
  <article>
    <h2>{{ article.title }}</h2>
    <div class="metadta">Ecrit le {{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i') }} dans la catégorie Politique</div>
    <div class="content">
      <img src="https://via.placeholder.com/600x200?text=Visit+Blogging.com+Now" alt="" />
      {{ article.content|raw }}
    </div>
  </article>
{% endblock %}
